# Dependencies
node_modules/
.pnp/
.pnp.js

# Build & output
dist/
build/
*.tsbuildinfo

# Firebase
.firebase/
firebase-debug.log

# Env / secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*

# Editor & OS
.DS_Store
.idea/
.vscode/
*.swp
